/* モバイルビュー */


  /*header設定*/
  .key-visual {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    z-index: -1;
    background-color: #67C62D;
  }

  body {
    background-color: #67C62D;
  }

  h1, h2, h3, h4{
    background-color: white;
    display: inline;
  }

  p, span{
    background-color: white;
    display: block;
  }

  #issue-text{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 14pt;
    font-weight: 400;
    background-color: white;
    display: inline;
    padding-left: 0px;
    padding-right: 40px;
    z-index: 1;
    position: absolute;
    top: 3%;
    right: 0%;
  }

  #video-area {
    overflow: hidden;
  }

  .bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
  }

  .sp-section {
    position: relative;
    top: 0%;
    left: 0%;
    max-width: 767px;
    margin-bottom: 20px;
    padding: 5%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .performer-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;

  }

  .performer-frame {
    display:block
  }

  h3 {
    font-family: 'Chivo Mono', monospace;
    font-weight: 900;
    font-size: 20pt;
  }

  h2 {
    font-family: 'Chivo Mono', monospace;
    font-weight: 900;
    font-size: 30pt;
    padding: 0%;
    margin: 0%;
  }

  p {
    font-family: 'DotGothic16', sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    margin-left: 5%;
    right: 5%;
  }

  a {
    font-family: 'Chivo Mono', monospace;
    color: white;
    font-size: 16pt;
    text-align: left;
    display: flex;
    flex-basis: content;
    flex-wrap: wrap;
    float: inline-end;
    overflow-x: auto;
    display: inline;
    background-color: darkslategray;
  }

  .nav-links {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    z-index: 1;
    top: calc(100vh - 10%);
    left: 0;
    right: 0%;
  }

  .nav-elem {
    top: 0;
    left: 0;
  }
