@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

body {
    margin: 0;
    height: 100vh;
    overscroll-behavior: none;
}

.container {
    display: flex;
    height: 100%;
}

.left {
    width: 32%;
    background: rgb(253, 28, 77);
    overflow-y: hidden;
}

.logo {
    text-align: center;
}

.logo img {
    width: 80%;
    height: 80%;
    object-fit: contain;

}

.info {}

.time-table table,
.time-table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.center {
    width: 36%;
    background: rgb(255, 255, 255);
    overflow-y: auto;
}

model-viewer {
    width: 90%;
    height: 340px;
    background-color: rgb(255, 255, 255, 0);
    margin-left: auto;
    margin-right: auto;
}


#electric-catfish {
    background-image: url(../img/santa.png);
}

.right {
    flex: 1;
    width: 32%;
    background: rgb(11, 97, 255);
    overflow-y: hidden;
}