@font-face {
    font-family: PixelMplus12 Bold;
    src: url('https://cdn.leafscape.be/PixelMplus/PixelMplus12-Bold_web.woff2') format("woff2");
}

@font-face {
    font-family: PixelMplus12 Regular;
    src: url('https://cdn.leafscape.be/PixelMplus/PixelMplus12-Regular_web.woff2') format("woff2");
}

body {
    margin: 0;
    height: 100vh;
    overscroll-behavior: none;
    font-family: PixelMplus12 Regular;
    font-size: 16px;
    background: #05FF00;
    background-image: url(../img/all_bg.png);
    background-size: 100% auto;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loading {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: PixelMplus12 Bold;
    font-size: 1.5rem;
}

.loading.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms;
}

.loading p {
    animation: blink 150ms infinite;
}

.container {
    height: 100%;
}

.scrolling-container {
    width: 100vw;
    overflow: hidden;
    background-color: #0035FF;
    height: 1.5rem;
    position: fixed;
    z-index: 999;
    /* ここ相談 */
}

.scrolling-text {
    color: #fff;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    font-size: 1.25rem;
    margin: 0%;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

a {
    color: #000000;
    text-decoration: none
}

a:hover {
    color: #0035FF;
}

.left {
    height: 100vh;
    width: 32%;
    overflow-y: auto;
    color: #000;
    font-family: PixelMplus12 Bold;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.left p {
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
    background-color: #fff;
    display: inline-block;
}

.info {
    height: 100vh;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.center {
    width: 100vw;
    position: relative;
    z-index: 2;
    display: block;
}

.center .visual model-viewer {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.center h2,
.center h3,
.center p,
img {
    padding-left: 4rem;
    padding-right: 4rem;
}

.center h2,
.center h3 {
    font-family: PixelMplus12 Bold;
}

.center h2 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
    color: #0035FF;
}

.center .about {
    width: 36vw;
    margin-left: 31.5vw;
    padding-bottom: 18rem;
    background-color: #fff;
}

.center .about h2 {
    padding-top: 15rem;
    position: relative;
    display: inline-block;
}

.center .sticker-about img {
    position: absolute;
    z-index: 0;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-bottom: 1.25rem;
}

.center .about p {
    font-family: PixelMplus12 Regular;
    margin-top: 0%;
    margin-bottom: 8.755rem;
}

.center .performers {
    background-color: #ffffff;
    width: 36vw;
    margin-left: 31.5vw;
    text-align: right;
}

.center .performers h2 {
    display: inline-block;
    position: relative;
    margin-top: 0%;
    margin-bottom: 2.625rem;
}

.center .sticker-performers img {
    position: absolute;
    top: 187vh;
    left: 27vw;
    z-index: 0;
}

.center .performers h3 {
    font-family: PixelMplus12 Regular;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.center .performers p {
    font-family: PixelMplus12 Regular;
    text-align: center;
    padding-bottom: 8.755rem;
    margin-bottom: 0%;
}

model-viewer {
    width: 100%;
}


#electric-catfish {
    background-image: url(../img/logo.png);
    background-size: cover;
}

#zeikin {
    background-image: url(../img/logo.png);
    background-size: cover;
}

#makt {
    background-image: url(../img/logo.png);
    background-size: cover;
}

#hitsuji {
    background-image: url(../img/logo.png);
    background-size: cover;
}

#mio-matsui {
    background-image: url(../img/logo.png);
    background-size: cover;
}

#snp {
    background-image: url(../img/logo.png);
    background-size: cover;
}

#ifTrue {
    background-image: url(../img/logo.png);
    background-size: cover;
}

.center .credit {
    background-color: #05FF00;
    height: 100vh;
    display: grid;
    place-items: center;
    width: 36vw;
    margin-left: 31.5vw;
}

.center .credit p {
    font-family: PixelMplus12 Regular;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(255, 255, 255, 0);
    display: inline-block;
    color: #0035FF;
    margin: 0%;
    line-height: 1.5rem;
}

.right {
    height: 100vh;
    width: 32%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0);
}

.time-table {
    height: 100vh;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right .time-table table {
    width: 100%;
    font-family: PixelMplus12 Bold;
    border-spacing: 5px 10px;
}

.right .time-table th {
    position: relative;
    width: 15%;
    text-align: left;
    padding: 0%;
}

.right .time-table td {
    color: #000;
    padding: 0%;
}

.right p {
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #fff;
    display: inline-block;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.right .info {
    height: 100vh;
    width: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.right .info p {
    font-size: 1.25rem;
    text-align: right;
    font-family: pixelMplus12 Bold;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
    display: inline-block;
}